<div id="activites" class="animated" ng-style="stylePages" ng-class="{fadeIn:pageActiv,noVisible:!pageActiv,toFront:pageActiv,toBack:toggleShowMenu}">

    <div class="card">
        <div class="item item-divider item-balanced">
            Programme du 20/12/2015
        </div>
        <div class="item item-text-wrap">
            Cettes prochaine activité concernera les plus sportifs...
        </div>
    </div>

    <div class="card">
        <div class="item item-divider item-balanced">
            Vos intérêts...
        </div>
        <div class="item item-text-wrap">
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox checkbox-balanced">
                        <input type="checkbox">
                    </label>
                    Théâtre
                </li>
                <li class="item item-checkbox checkbox-balanced">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Randonnée collective
                </li>
                <li class="item item-checkbox checkbox-balanced">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Vélo collectif
                </li>
                <li class="item item-checkbox checkbox-balanced">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Spectacles
                </li>
                <li class="item item-checkbox checkbox-balanced">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Concerts
                </li>
                <li class="item item-checkbox checkbox-balanced">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Autres...
                </li>
            </ul>
        </div>
    </div>
</div>