<div id="ateliers" class="animated" ng-style="stylePages" ng-class="{fadeIn:pageAtel,noVisible:!pageAtel,toFront:pageAtel,toBack:toggleShowMenu}">

    <div class="card">
        <div class="item item-divider item-royal">
            Programme du 20/12/2015
        </div>
        <div class="item item-text-wrap">
            Ce prochain atelier aura pour but d'enseigner les bonnes pratiques...
        </div>
    </div>

    <div class="card">
        <div class="item item-divider item-royal">
            Vos intérêts...
        </div>
        <div class="item item-text-wrap">
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox checkbox-royal">
                        <input type="checkbox">
                    </label>
                    Gestion du stress
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Les addictions
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Le sommeil
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    La nutrition
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Activité physique
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Prévention troubles musculosqueletique
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Ergonomie du poste de travail
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Burn out
                </li>
                <li class="item item-checkbox checkbox-royal">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Autres...
                </li>
            </ul>
        </div>
    </div>
</div>